# First program in python...

In [8]:
print("Hello word!.. this is our first program")

Hello word!.. this is our first program

In [1]:
#this is single line comment..(#)

print("for single line comment we use {#}")


a= 12
b = 12
c= a+b
print(c)

for single line comment we use {#}
24

# variable  in python

In [1]:
x = 2
print(x)

2

In [ ]:
1student ="Hari"
print(1student)

:

In [6]:
studnt_1 ="Hari"
print(studnt_1)

Hari

In [7]:
_a_ = 123
print(_a_)

123

# Many values to multiple variable..

In [12]:
x,y,z = "Bisham Thapa", "Chiran Raj  Thapa" , "Naresh Khatri"
print(x,y,z)

print(x)
print(y)
print(z)

Bisham Thapa Chiran Raj  Thapa Naresh Khatri
Bisham Thapa
Chiran Raj  Thapa
Naresh Khatri

# Data types..

In [13]:
x = 12
print(x)
print(type(x))

12
<class 'int'>

In [14]:
a = 12.44;
print(a)
print(type(a))

12.44
<class 'float'>

In [15]:
name = "Jhon Thapa"
print(name)
print(type(name))

Jhon Thapa
<class 'str'>

In [16]:
numbers = {1,2,3,4,5,6,7,8,9}
print(numbers)
print(type(numbers))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [19]:
Numbers1 = (12,13, 14, 15 ,13,5)
print(Numbers)
print(type(Numbers))

(12, 13, 14, 15, 13, 5)
<class 'tuple'>

In [21]:
Numbers2 = ["Naresh", "Bisham","Chiran","Arbeen"]
print(Numbers2)
print(type(Numbers2))

['Naresh', 'Bisham', 'Chiran', 'Arbeen']
<class 'list'>

In [24]:
decision1 = True
Decision2 = False
print(decision1)
print(type(decision1))
print(Decision2)
print(type(Decision2))

True
<class 'bool'>
False
<class 'bool'>

In [25]:
 z = 2+4j
print(z)
print(type(z))

(2+4j)
<class 'complex'>

In [27]:
%whos

Variable    Type       Data/Info
--------------------------------
Decision2   bool       False
Numbers     tuple      n=6
Numbers2    list       n=4
a           float      12.44
decision    bool       True
decision1   bool       True
name        str        Jhon Thapa
numbers     set        {1, 2, 3, 4, 5, 6, 7, 8, 9}
studnt1     str        Hari
studnt_1    str        Hari
x           int        12
y           str        Chiran Raj  Thapa
z           complex    (2+4j)

# Operators in python

In [33]:
#addition operator
x = 12
y = 13
print("Sum of x and y is:",(x+y))

Sum of x and y is: 25

In [34]:
#Subraction..
number1 = 13
number = 12
print("Subtraction is :",(x-y))

Subtraction is : -1

In [36]:
#Multipy..
Number1 = 12
Number2 =3
print("Multiply is :", (x*y))

Multiply is : 156

In [39]:
#Division 
Number1 = 123;
number2 =2
print("Division is:" ,(Number1/number2))

Division is: 61.5

In [40]:
#modules..
Numb1 = 19
numb2= 12
print("Modules is :", (Numb1/numb2))

Modules is : 1.5833333333333333